<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">​
<head>​
<meta charset="utf-8">​
<title>​
Budget Tracker​
</title>​
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">​
<link href="style.css" rel="stylesheet">
</head>​
​
<body>​
    <h1 class="container">Add Monthly Budget</h1>​
    <br>
    
    <form action="#" th:action="@{/budget/new}" th:object="${budget}" method="POST">
    <div class="container row">
        <div class="col-lg-8">
        	<label for="month">Month:</label>
            <input type="text" id="month" name="month" style="width: 300px;" class="form-control">
            <label for="expenses">Expenses:</label>
            <input type="text" id="expenses" name="expenses" style="width: 300px;" class="form-control">
        </div>
        <div class="col-lg-4">
        	<label for="income">Income:</label>
            <input type="text" id="income" name="income" style="width: 300px;" class="form-control">
            <label for="additional">Additional:</label>
            <input type="text" id="additional" name="additional" style="width: 300px;" class="form-control">
        </div>
    </div>
    
    <div class="container row">
    	<div class="col-lg-4">
	        <button id="saveButton" type="submit" class="btn btn-primary">Save</button>
	        <button id="cancelButton" class="btn btn-danger">Cancel</button>
    	</div>
    </div>
    </form>
    
</body>​
</html>