<!DOCTYPE html>
<html lang="en">​
<head>​
<meta charset="utf-8">​
<title>​
Budget Tracker​
</title>​
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">​
<link href="style.css" rel="stylesheet">
</head>​
​
<body>​
    <h1 class="container">Add Transaction</h1>​
    <br>
    <div class="container">
        <form>
            <label for="note">Note:</label>
            <input type="text" id="note" name="note" style="width: 300px;" class="form-control"><br><br><br>
            <label for="date">Date:</label>
            <input type="text" id="date" name="date" style="width: 300px;" class="form-control"><br><br><br>
            <label for="value">Value:</label>
            <input type="text" id="value" name="value" style="width: 300px;" class="form-control"><br><br><br>
        </form>
    </div>
    <div class="container">
        <button id="saveButton" class="btn btn-primary">Save</button>
        <button id="cancelButton" class="btn btn-danger">Cancel</button>
    </div>
</body>​
</html>