<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">​
<head>​
<meta charset="utf-8">​
<title>​
Budget Tracker​
</title>​
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">​
<link href="style.css" rel="stylesheet">
</head>​
​
<body>​
    <h1 class="container">Add Transaction</h1>​
    <br>
    
    <form action="#" th:action="@{/transaction/new}" th:object="${transaction}" method="POST">
	    <div class="container row">
	        <div class="col-lg-4">
	        	<label for="note">Note:</label>
	            <input type="text" id="note" name="note" style="width: 300px;" class="form-control">
	        </div>
	        <div class="col-lg-4">
	        	<label for="date">Date:</label>
	            <input type="text" id="date" name="date" style="width: 300px;" class="form-control">
	        </div>
	        <div class="col-lg-4">
	        	<label for="value">Value:</label>
	            <input type="text" id="value" name="value" style="width: 300px;" class="form-control">
	        </div>
	    </div>
	    
	    <div class="container row">
		    <div class="col-lg-4">
		    	<button id="saveButton" class="btn btn-primary">Save</button>
		        <button id="cancelButton" class="btn btn-danger">Cancel</button>
		    </div>
	    </div>
    </form>
</body>​
</html>